body{
    background: url(../images/fondo.jpg);
}
.contenedor{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);    
}
p.centrado {
    text-align: center;
}
img{
    width: 200px;
    height: 220px;
    box-shadow:  #e0eaeb5d; 
    border-radius: 1em;
}
footer {
    font-size: 23px;
    text-align: center;
    background-color: #0f0d0dbe;
    height: 7em;
    width: 100%;
    padding: 30px 0px;
    background-size: cover;
}
p{
    color: rgb(235, 216, 108);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer img{
    width: 40px;
    height: 40px;
}
.redes{
    text-align: center;
}
.redes:nth-child(1) img{
    text-align: left;
}
.redes:nth-child(2) img{
    text-align: center;
    
}
.redes:nth-child(3) img{
    text-align: right;
}